
.question {
    clear: left;
}

.question {
    .question-name {
        font-size: 150%;
    }

    .badge {
        background-color: #ccc;
        margin-left: 4px;
    }

    .badge-active {
        background-color: #428bca;
    }

    img {
        max-width: 600px;
        height: auto !important;
    }
}

.badge-gold {
    color: #ffcc00;
}

.badge-silver {
    color: #cccccc;
}

.badge-bronze {
    color: #eea91e;
}

.tag_text .text-core .text-wrap {
    .text-dropdown,
    .text-prompt,
    input,
    textarea {
        font: 1.2em "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }

    .text-tags .text-tag .text-button {
        font: 1.2em "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        height: 1.2em !important;
    }
}

.moma {
    margin-bottom: $spacer;
}

.moma_fa {
    @include o-position-absolute(0, $left: 0);
    line-height: $line-height-base;

    + span {
        display: block;
        // FontAwesome '.fa-fw' fixed-with + margin
        padding-left: 1.28571429em + 0.5em;
    }
}

img.o_moma_product_image_big {
    max-width: 75px;
    margin-right: 10px;
}
